<div id="action-description">
  <p>
      This sample illustrates a sales versus profit margin analysis using a vertical chart by changing the orientation of the x-axis to vertical and the y-axis to horizontal.
  </p>
</div>
<div class="control-section">
  <ejs-chart style='display:block;' [chartArea]='chartArea' [width]='width' align='center' [legendSettings]='legendSettings' [tooltip]='tooltip' id='chart-vertical' [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis'  [axes]='axis' [title]='title' [isTransposed]='vertical' (load)='load($event)' >
      <e-series-collection>
          <e-series [dataSource]='data1' type='Column' xName='Year' yName='column' name='Sales' width=2>
          </e-series>
      </e-series-collection>
  </ejs-chart>
</div>
