<div *ngFor="let vertical of verticals" class="department">
  <button (click)="toggleCollapse(vertical)">{{ vertical.isCollapsed ? 'Expand' : 'Collapse' }}</button>
  <h2>{{ vertical.name }}</h2>
  <div *ngFor="let category of vertical.categories" class="category">
    <h3>{{ category.name }}</h3>
    <div class="progress">
      <div class="progress-bar"
      role="progressbar"
      [style.width]="category.malePercentage + '%'"
      [attr.aria-valuenow]="category.malePercentage"
      aria-valuemin="0"
      aria-valuemax="100">
      {{ category.malePercentage }}% Male
    </div>
      <div class="progress-bar"
      role="progressbar"
      [style.width]="category.femalePercentage + '%'"
      [attr.aria-valuenow]="category.femalePercentage"
      aria-valuemin="0" aria-valuemax="100">
      {{ category.femalePercentage }}% Female
    </div>
    </div>
    <span>
      Total: {{ category.total }}
    </span>
  </div>
</div>
